@import '~CSS/pixels.less';
@import '~CSS/colors.less';

@zero: 0;
@one: 1;
@two: 2;
@three: 3;
@four: 4;
@five: 5;
@six: 6;
@seven: 7;
@eight: 8;
@nine: 9;
@ten: 10;
@one-half: (@one / @two);
@one-third: (@one / @three);
@one-fifth: (@one / @five);
@one-tenth: (@one / @ten);
@one-twentieth: (@one-tenth / @two);
@two-thirds: (@two / @three);
@four-fifths: (@four / @five);
@full: 100%;
@double: (@full * @two);
@half: (@full / @two);
@fifth: (@full / @five);
@tenth: (@full / @ten);
@default-pixel: 16px;
@default-step-pixel: 4px;
@default-rem: @pixel-16;
@default-step-rem: @pixel-4;
@color-darken-percentage: 3%;
@border-color-shade-percentage: 15%;
@clear-hover-color-shade-percentage: 7%;
@opacity-disabled: @one-half;
@alpha-placeholder: @one-third;
@transition-off: 0s;
@transition-fast: 0.1s;
@transition-slow: 0.2s;
@icon-smallest: @default-pixel;
@border-width: @pixel-1;
@margin: @pixel-2;
@margin-block: @pixel-5;
@padding: @pixel-2;
@padding-small: (@pixel-4 + @padding);
@padding-default: (@padding-small + @padding);
@padding-large: (@padding-default + @padding);
@shadow-width: @pixel-2;
@font-size-small: (@default-rem - @default-step-rem);
@font-size-default: @default-rem;
@font-size-large: (@default-rem + @default-step-rem);
@clear-size-small: (@font-size-default + @default-step-rem);
@clear-size-default: (@clear-size-small + @default-step-rem);
@clear-size-large: (@clear-size-default + @default-step-rem);
@height-small: @pixel-28;
@height-default: @pixel-38;
@height-large: @pixel-44;
@height-small-half: (@height-small * @half);
@height-default-half: (@height-default * @half);
@height-large-half: (@height-large * @half);
@width-input-multiplier: @ten;
@width-input-small: (@font-size-small * @width-input-multiplier);
@width-input-default: (@font-size-default * @width-input-multiplier);
@width-input-large: (@font-size-large * @width-input-multiplier);
@radius-small: @pixel-3;
@radius-default: @pixel-4;
@radius-large: @pixel-5;
@selectors-color: primary, secondary, info, success, warning, error, dark, light;
@selectors-size: small, large;
@selectors-border-style: solid, dotted, dashed;
@selectors-mouse: focus, hover, active;
@selectors-justify: left, center, right;
@justify-left: flex-start;
@justify-center: center;
@justify-right: flex-end;
